<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Section</key>
		<string>12-12-2012</string>
		<key>Rows</key>
		<array>
			<dict>
				<key>credit</key>
				<string>ZZZZ</string>
				<key>date</key>
				<string>June 14 1999</string>
				<key>creditHistroy</key>
				<string>History of the credit</string>
				<key>time</key>
				<string>13:55</string>
			</dict>
			<dict>
				<key>credit</key>
				<string>XXXX</string>
				<key>date</key>
				<string>July 13 2012</string>
				<key>creditHistroy</key>
				<string>History of the credit</string>
				<key>time</key>
				<string>13:55</string>
			</dict>
			<dict>
				<key>credit</key>
				<string>YYYY</string>
				<key>date</key>
				<string>July 14 2012</string>
				<key>creditHistroy</key>
				<string>History of the credit</string>
				<key>time</key>
				<string>17:55</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
