<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Section</key>
            <string>12-12-2012</string>
            <key>Rows</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Product Title</string>
                    <key>shortDescription</key>
                    <string>Short Description</string>
                    <key>cost</key>
                    <string>1</string>
                    <key>distance</key>
                    <string>35</string>
                    <key>isPerk</key>
                    <false/>
                    <key>loveItCount</key>
                    <string>9</string>
                    <key>thumbnailUrl</key>
                    <string>http://www.astrology.com/images/framework/block/twitter/twitter_bird.png</string>
                    <key>latitude</key>
                    <string>53.553376</string>
                    <key>longitude</key>
                    <string>-123.492718</string>
                    <key>phone</key>
                    <string>130-032-2837</string>
                    <key>website</key>
                    <string>http://www.google.com</string>
                    <key>startdate</key>
                    <string>19/11/2012</string>
                    <key>enddate</key>
                    <string>12/11/2012</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Product Title</string>
                    <key>shortDescription</key>
                    <string>Short Description</string>
                    <key>cost</key>
                    <string>2</string>
                    <key>distance</key>
                    <string>24</string>
                    <key>isPerk</key>
                    <false/>
                    <key>loveItCount</key>
                    <string>12</string>
                    <key>thumbnailUrl</key>
                    <string>http://www.ivstatic.com/files/et/files/most_chimed_galleries/planets_big.png</string>
                    <key>latitude</key>
                    <string>53.553376</string>
                    <key>longitude</key>
                    <string>-113.492718</string>
                    <key>phone</key>
                    <string>130-032-2837</string>
                    <key>website</key>
                    <string>http://www.google.com</string>
                    <key>startdate</key>
                    <string>19/11/2012</string>
                    <key>enddate</key>
                    <string>12/11/2012</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Product Title</string>
                    <key>shortDescription</key>
                    <string>Short Description</string>
                    <key>cost</key>
                    <string>3</string>
                    <key>distance</key>
                    <string>56</string>
                    <key>isPerk</key>
                    <false/>
                    <key>loveItCount</key>
                    <string>3</string>
                    <key>thumbnailUrl</key>
                    <string>http://www.ivstatic.com/files/et/files/most_chimed_galleries/planets_big.png</string>
                    <key>latitude</key>
                    <string>53.553376</string>
                    <key>longitude</key>
                    <string>-213.492718</string>
                    <key>phone</key>
                    <string>130-032-2837</string>
                    <key>website</key>
                    <string>http://www.google.com</string>
                    <key>startdate</key>
                    <string>19/11/2012</string>
                    <key>enddate</key>
                    <string>12/11/2012</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>Section</key>
            <string>13-12-2012</string>
            <key>Rows</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Product Title</string>
                    <key>shortDescription</key>
                    <string>Short Description</string>
                    <key>cost</key>
                    <string>1</string>
                    <key>distance</key>
                    <string>35</string>
                    <key>isPerk</key>
                    <false/>
                    <key>loveItCount</key>
                    <string>9</string>
                    <key>thumbnailUrl</key>
                    <string></string>
                    <key>latitude</key>
                    <string>53.553376</string>
                    <key>longitude</key>
                    <string>-103.492718</string>
                    <key>phone</key>
                    <string>130-032-2837</string>
                    <key>website</key>
                    <string>http://www.google.com</string>
                    <key>startdate</key>
                    <string>19/11/2012</string>
                    <key>enddate</key>
                    <string>12/11/2012</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Product Title</string>
                    <key>shortDescription</key>
                    <string>Short Description</string>
                    <key>cost</key>
                    <string>2</string>
                    <key>distance</key>
                    <string>24</string>
                    <key>isPerk</key>
                    <false/>
                    <key>loveItCount</key>
                    <string>12</string>
                    <key>thumbnailUrl</key>
                    <string></string>
                    <key>latitude</key>
                    <string>53.553376</string>
                    <key>longitude</key>
                    <string>-112.492718</string>
                    <key>phone</key>
                    <string>130-032-2837</string>
                    <key>website</key>
                    <string>http://www.google.com</string>
                    <key>startdate</key>
                    <string>19/11/2012</string>
                    <key>enddate</key>
                    <string>12/11/2012</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Product Title</string>
                    <key>shortDescription</key>
                    <string>Short Description</string>
                    <key>cost</key>
                    <string>3</string>
                    <key>distance</key>
                    <string>56</string>
                    <key>isPerk</key>
                    <false/>
                    <key>loveItCount</key>
                    <string>3</string>
                    <key>thumbnailUrl</key>
                    <string>http://www.ivstatic.com/files/et/files/most_chimed_galleries/planets_big.png</string>
                    <key>latitude</key>
                    <string>53.553376</string>
                    <key>longitude</key>
                    <string>-115.492718</string>
                    <key>phone</key>
                    <string>130-032-2837</string>
                    <key>website</key>
                    <string>http://www.google.com</string>
                    <key>startdate</key>
                    <string>19/11/2012</string>
                    <key>enddate</key>
                    <string>12/11/2012</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
