<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>WutzWhat</string>
		<key>imageName</key>
		<string>menu_100.png</string>
		<key>selectedImageName</key>
		<string>menu_100_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HotPicks</string>
		<key>imageName</key>
		<string>menu_200.png</string>
		<key>selectedImageName</key>
		<string>menu_200_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Talks</string>
		<key>imageName</key>
		<string>menu_300.png</string>
		<key>selectedImageName</key>
		<string>menu_300_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Favourites</string>
		<key>imageName</key>
		<string>menu_400.png</string>
		<key>selectedImageName</key>
		<string>menu_400_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Perks</string>
		<key>imageName</key>
		<string>menu_500.png</string>
		<key>selectedImageName</key>
		<string>menu_500_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>imageName</key>
		<string>menu_logo.png</string>
		<key>selectedImageName</key>
		<string>menu_logo.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Profile</string>
		<key>imageName</key>
		<string>menu_600.png</string>
		<key>selectedImageName</key>
		<string>menu_600_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Credits</string>
		<key>imageName</key>
		<string>menu_700.png</string>
		<key>selectedImageName</key>
		<string>menu_700_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Notifications</string>
		<key>imageName</key>
		<string>menu_800.png</string>
		<key>selectedImageName</key>
		<string>menu_800_c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>City</string>
		<key>imageName</key>
		<string>menu_900.png</string>
		<key>selectedImageName</key>
		<string>menu_900_c.png</string>
	</dict>
</array>
</plist>
