<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string>http://www.astrology.com/images/framework/block/twitter/twitter_bird.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Zeeeshan</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Kashif</string>
				<key>summaryText</key>
				<string>Rafay is doing Some Work</string>
				<key>thumbnailUrl</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
